@import "tailwindcss";

@font-face {
    font-family: "Michroma";
    src: url("/fonts/Michroma-Regular.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Inter400";
    src: url("/fonts/Inter.ttf") format("truetype");
    font-weight: 400;
}

@theme {
    --color-primary: #2dd4bf;
}

body,
a,
button,
* {
    cursor: none !important;
}

.hover-underline {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

.hover-underline:hover::after {
    width: 100%;
}

body::selection {
    background-color: var(--color-primary);
    color: #fff;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* Lenis Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
